---
apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources
  namespace: default
data:
  datasources.yaml: |
    apiVersion: 1
    datasources:
      # Loki - 日志数据源
      - name: Loki
        type: loki
        uid: loki
        access: proxy
        url: http://loki:3100
        isDefault: true
        editable: true
        jsonData:
          maxLines: 1000

      # Prometheus - K8s集群指标
      - name: Prometheus
        uid: prometheus
        type: prometheus
        access: proxy
        url: http://prometheus:9090
        isDefault: false
        editable: true
        jsonData:
          timeInterval: "15s"
          queryTimeout: "60s"
          httpMethod: "POST"
