# Grafana 数据源配置
# 自动配置 Loki 和 Prometheus 数据源

apiVersion: 1

datasources:
  # Loki - 日志数据源
  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
    isDefault: true
    editable: true
    jsonData:
      maxLines: 1000

  # Prometheus (Docker容器内) - 指标数据源
  - name: Prometheus-Docker
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: false
    editable: true
    jsonData:
      timeInterval: "15s"
      queryTimeout: "60s"
      httpMethod: "POST"

  # Prometheus (Kubernetes内) - K8s集群指标
  - name: Prometheus
    uid: prometheus
    type: prometheus
    access: proxy
    url: http://host.docker.internal:30090
    isDefault: false
    editable: true
    jsonData:
      timeInterval: "15s"
      queryTimeout: "60s"
      httpMethod: "POST"
